.container{
    width:640px;
    margin:150px auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    align-items: center;
    background: #707070;

}
.container h2{
    font-size: 27px;
    font-weight:500 ;
}
.container  ul li {
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
    border : 1px solid #707070; 
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

}
.container button{
    width: 100px;
    padding: 10px; 
    background: #6c006c;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    
    
}
.next-btn::after{
    content: "\2192";
    margin-left: 8px;
}
.correct{
    background-color: #4BB543;
    color: rgb(255, 255, 255);
}

.wrong
{
    background-color: #FF0000;
    color: rgb(255, 255, 255);
}
.correct{
    pointer-events: none;   
    background-color: #4BB543;
}